{% capture url %}{{ page.url | remove: "/" | remove: page.language }}{% endcapture %}
{% if url.size > 0 %}
<nav class="breadcrumbs hidden-sm-down">

  {% include icon.html class="breadcrumb-item" %}

  <ol class="breadcrumb" vocab="http://schema.org/" typeof="BreadcrumbList">
  {% assign position = 0 %}
  {% for crumb in breadcrumbs %}

    {% if crumb.url == "/" %}
    {% continue %}
    {% endif %}

    {% if page.language %}
      {% assign langpath = crumb.url | remove: "/" %}
      {% if langpath == page.language %}
        {% continue %}
      {% endif %}
    {% endif %}

    {% assign position = position  | plus: 1 %}
    {% assign caption = crumb.title %}
    <li class="breadcrumb-item{% if crumb.url == page.url %} active{% endif %}" property="itemListElement" typeof="ListItem">
      {% if crumb.url != page.url %}<a property="item" typeof="WebPage" href="{{ crumb.url | prepend:site.baseurl }}">{% endif %}
      <span property="name">{{ caption }}</span>
      {% if crumb.url != page.url %}</a>{% endif %}
      <meta property="position" content="{{ position }}" />
  </li>
  {% endfor %}
  </ol>

</nav>
{% endif %}
